header{
	background-color: rgb(73, 197, 159);
}

#headerTitle{
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
	text-shadow: 2px 2px #000c1c;
}

.userContainer{
	display: block;
	border-radius: 50%;
	background-color: rgb(73, 197, 159);
	width: 120px;
	height: 120px;
	float: left;
	margin: 1%;
	border: 2px solid #fff;
}

.userContainer > img{
	
}	

.addUser > img{
	width:60%;
	height:60%;
	left: 20%;
	top: 20%;
	position: relative;
}

.user{
	background-size: cover;
}

nav{
	display: block;
	background-color: #000c1c;
}

main{
	background-color: #CCCED1;
}

#btnDeleteUser{
	display: none;
	height: 50px;
	float: right;
}

#deleteUserWarning{
	display: none;
	height: 50px;
}

.tweet{
	display: none;
	border-radius: 15px;
	background-color: #e5e6e8;
	overflow: hidden;
	margin-bottom: 1%;
	margin-top: 1%;
}

.tweetHeader{
	padding: 1%;
}

.tweetBody{
	padding: 1%;
}

.tweetImg{
	float: left;
	margin-right: 1%;
	border: 2px solid white;
	position: relative;

}

footer{
	background-color: rgb(73, 197, 159);
}

#footerTitle{
	padding-bottom: 1%;
	color: white;
	text-shadow: 2px 2px #000c1c;
}

.searchUserBox{
    padding-top: 4%;
    display:none;
}
.searchedUsers{
    border:1px solid #FAFAD2;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
    background-color: antiquewhite;
    box-sizing: border-box;
    text-align: center;
    display:none;
}
.profilePicture{
    display: block;
    width: 25%;
    float: left;
    margin: 1%;
    border-radius: 10px;
    border: 2px solid #000;
}
.userName{
    width: 25%;
    margin: 5%;
    margin-top: 10%;
    float: left;
}
.btnAddUser{
    width: 25%;
    margin: 5%;
    margin-top: 10%;
    float:right;
}
